body{
    background-color:black;
    margin: 0;
    padding:0;
}

.menu{
    color: white;
}
.menu a{
    text-decoration:none;
}
.bloc_menu {
    display: inline-block;
    width: 49.8%;

    color: white;
    font-family: "DejaVu Sans";
    text-align: center;
    vertical-align: middle;
}
.bloc_main{
    padding-top: 70px;
    padding-bottom: 70px;
}
.bloc_secondary{
    padding-top: 97px;
    padding-bottom: 97px;
}
.color1{
    background-color: grey;
}
.color2 {
    background-color: darkgrey;

}
.color3{
    background-color: dimgrey;
}
.color0{
    background-color: white;
    color:black !important;
}

/**************************************/

#connexion{
    color: white;
    margin: auto;
    width: 700px;
    text-align: center;
}

#connexion table{
    width: 300px;
    margin: auto;
    text-align: left;
}

#connexion a{
    color: white;
}

#connexion a:hover{
    color: blue;
}

/****************************************/
.bloc_mois{
    display: inline-block;
    border : black solid 1px;
    text-align: center;
    margin-left:5px;
    padding:5px;
}

section{
    margin-bottom: 100px;
}
#limites .bloc_mois input{
    width: 25px;
}

/****************************************/
label {
    font-weight: bold;
}