<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achat Détail</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1>Achat Détail</h1>

    <a href="liste_achat.html">Retour</a><br/>

    <label>Libellé : </label>SP95<br/>

    <label>Catégorie : </label>Essence<br/>

    <label>Etat : </label>Effectué<br/>

    <label>Moyen de payement : </label>Carte bancaire<br/>

    <label>Prix d'achat réel : </label><span style="color:green; font-weight: bold">44</span><br/>
    <label>Prix d'achat prévu : </label>45<br/>

    <label>Date d'achat réelle : </label><span style="color:red;">2018-05-04</span><br/>
    <label>Date de sortie (condition) :</label><br/>
    <label>Date d'achat prévue (début) : </label>2018-05-01<br/>
    <label>Date d'achat prévue (fin) : </label>2018-05-03<br/>

    <label>Lieu : </label>Leclerc - Firminy<br/>

    <label>Commentaire : </label>blablabla<br/>blablabla<br/>blablabla<br/>blablabla<br/>

    <label>Quantité : </label>30<br/>
    <label>Prix à l'unité (condition) :</label>1.484<br/>


    <br/>

    <fieldset>
        <legend>Achat par intenet</legend>

        <label>Nom du site internet : </label><br/>
        <label>Adresse URL du produit (condition) : </label><br/>

        <label>Date d'envoi (condition) : </label><br/>
        <label>Periode réception prévue (condition) : </label><br/>
        <label>Date de reception (condition) : </label><br/>
        <label>Durée du transport (condition) : </label> jours<br/>
    </fieldset>
    <br/>

    <fieldset>
        <legend>Payement non liquide</legend>
        <label>Date de débit : </label>
    </fieldset>
    <br/>

    <fieldset>
        <legend>Essence</legend>
        <label>Nombre de kilomètes parcourus (condition) : </label>415.7 km
    </fieldset>
    <br/>

    <a href="achat.html">Modifier</a>


</body>
</html>