<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter/Modifier Catégories</title>

</head>
<body>
    <h1>Ajouter/Modifier Catégories</h1>
    <a href="liste_categorie.html">Retour</a>
    <form>
        <label>Libellé :</label><input type="text" name="libelle"/><br/>

        <label>Type :</label>
        <select name="type">
            <option value="1">Obligatoire</option>
            <option value="2">Loisir</option>
        </select><br/>

        <input type="submit"/>
    </form>
</body>
</html>