<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>

<body>

    <div id="connexion">

        <a href="" >Présentation de l'application</a> | <a href="">S'inscrire</a><br/>

        <img src="../img/logo2.png" width="700"/>

        <h1>HOW TU USE <br/></h1>

        <h2>Toute personne dont le nom est inscrit <br/> sur cette page passera de l'autre coté.</h2>

        <form method="POST" action="menu_main.html">

            <table>
                <tr>
                    <td><label>Pseudo : </label></td>
                    <td><input type="text" name="Pseudo"/><br/></td>
                </tr>

                <tr>
                    <td><label>Mot-de-Passe : </label></td>
                    <td><input type="password" name="Password"/><br/></td>
                </tr>
            </table>

            <input type="submit"/>
        </form>

    </div>

</body>
</html>