<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter/Modifier lieu</title>
</head>
<body>
    <h1>Ajouter/Modifier lieu</h1>
    <a href="liste_lieu.html">Retour</a>
    <form>
        <label>Libellé :</label><input type="text" name="libelle"/><br/>

        <label>Ville :</label>
        <select name="ville">
            <option value="1">Saint-Etienne</option>
            <option value="2">Lyon</option>
        </select><br/>

        <label>Quartier (facultatif):</label>
        <select name="quartier">
            <option value="1">Chateaucreux</option>
            <option value="2">Bellevue</option>
            <option value="3">Fourneyron</option>
            <option value="4">Saint-francois</option>
        </select><br/>

        <input type="submit"/>
    </form>
</body>
</html>