<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>#titre#</title>
    <link rel="stylesheet" href=""/>
</head>

<body>

    <div id="message">
        <h2><b>#message#</b></h2>
    </div>

    <h1>#titre#</h1>
    <div id="boutons">
        <a href="lieu_controller.php">Créer un lieu</a><br/>
    </div>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Ville</th>
            <th>Quartier</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        #lignes_lieux#
        </tbody>
    </table>

</body>
</html>