<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progression des achats</title>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!--Plugin DataTable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
</head>
<body>
    <h1>Progression des achats</h1>

    <a href="menu_main.html">Retour</a>

    <table id="table_id" class="display">
        <thead>
            <td></td>
            <td>Date</td>

            <td>Limite totale</td>
            <td>Valeur achats <br/>totale</td>
            <td>Progression <br/>achats <br/>totale</td>

            <td>Limite obligatoire</td>
            <td>Valeur achats <br/>obligatoire</td>
            <td>Progression <br/>achats <br/>obligatoire</td>

            <td>Limite loisir</td>
            <td>Valeur <br/>achats <br/>loisir</td>
            <td>Progression <br/>achats <br/>loisir</td>
        </thead>


        <tr>
            <td><a href="progression.html">Modifier</a></td>
            <td>18-06-30</td>

            <td>400€</td>
            <td>NULL</td>
            <td>NULL</td>

            <td>200€</td>
            <td>NULL</td>
            <td>NULL</td>

            <td>200€</td>
            <td>NULL</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-06-15</td>

            <td>400€</td>
            <td>NULL</td>
            <td>NULL</td>

            <td>200€</td>
            <td>NULL</td>
            <td>NULL</td>

            <td>200€</td>
            <td>NULL</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-06-01</td>

            <td>400€</td>
            <td>NULL</td>
            <td>NULL</td>

            <td>200€</td>
            <td>NULL</td>
            <td>NULL</td>

            <td>200€</td>
            <td>NULL</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-05-30</td>

            <td>400€</td>
            <td>450€</td>
            <td style="color:red">112.5%</td>

            <td>200€</td>
            <td>220€</td>
            <td style="color:red">110%</td>

            <td>200€</td>
            <td>230€</td>
            <td style="color:red">115%</td>
        </tr>
        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-05-15</td>

            <td>400€</td>
            <td>x€</td>
            <td>x%</td>

            <td>200€</td>
            <td>x€</td>
            <td>x%</td>

            <td>200€</td>
            <td>x€</td>
            <td>x%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-05-01</td>

            <td>400€</td>
            <td>0€</td>
            <td>0%</td>

            <td>200€</td>
            <td>0€</td>
            <td>0%</td>

            <td>200€</td>
            <td>0€</td>
            <td>0%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-04-30</td>

            <td>400€</td>
            <td>400€</td>
            <td style="color:orange">100%</td>

            <td>200€</td>
            <td>200€</td>
            <td style="color:orange">100%</td>

            <td>200€</td>
            <td>200€</td>
            <td style="color:orange">100%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-04-15</td>

            <td>400€</td>
            <td>x€</td>
            <td>x%</td>

            <td>200€</td>
            <td>x€</td>
            <td>x%</td>

            <td>200€</td>
            <td>x€</td>
            <td>x%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-04-01</td>

            <td>400€</td>
            <td>0€</td>
            <td>0%</td>

            <td>200€</td>
            <td>0€</td>
            <td>0%</td>

            <td>200€</td>
            <td>0€</td>
            <td>0%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-03-30</td>

            <td>400€</td>
            <td>350€</td>
            <td style="color:green">112.5%</td>

            <td>200€</td>
            <td>200€</td>
            <td style="color:orange">100%</td>

            <td>200€</td>
            <td>150€</td>
            <td style="color:green">75%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-03-15</td>

            <td>400€</td>
            <td>x€</td>
            <td>x%</td>

            <td>200€</td>
            <td>x€</td>
            <td>x%</td>

            <td>200€</td>
            <td>x€</td>
            <td>x%</td>
        </tr>

        <tr>
            <td><a href="">Modifier</a></td>
            <td>18-03-01</td>

            <td>400€</td>
            <td>0€</td>
            <td>0%</td>

            <td>200€</td>
            <td>0€</td>
            <td>0%</td>

            <td>200€</td>
            <td>0€</td>
            <td>0%</td>
        </tr>
    </table>

</body>
</html>