<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quartiers</title>
    <!--Jquery-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!--Plugin DataTable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
</head>

<body>
    <h1>Quartiers</h1>

    <a href="menu_secondary.html">Retour</a><br/><br/>
    <a href="quartier.html">Ajouter quartier</a><br/><br/>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <td></td>
            <td>Libellé</td>
            <td>Ville</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><a href="quartier.html">Modifier</a></td>
            <td>Bellevue</td>
            <td>Saint-Etienne</td>
        </tr>
        <tr>
            <td><a href="">Modifier</a></td>
            <td>Chateaucreux</td>
            <td>Saint-Etienne</td>
        </tr>
        <tr>
            <td><a href="">Modifier</a></td>
            <td>La Part-Dieu</td>
            <td>Lyon</td>
        </tr>
        </tbody>
    </table>
</body>
</html>