<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu Secondaire</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <a href="../categorie_controller_list.php">
        <div class="bloc_menu bloc_secondary color1">
            Categories
        </div>
    </a>
    <a href="../lieu_controller_list.php">
        <div class="bloc_menu bloc_secondary color3">
            Lieux
        </div>
    </a>
    <br/>

    <a href="../ville_controller_list.php">
        <div class="bloc_menu bloc_secondary color2">
            Villes
        </div>
    </a>
    <a href="../quartier_controller_list.php">
        <div class="bloc_menu bloc_secondary color1">
            Quartiers
        </div>
    </a><br/>

    <a href="../site_controller_list.php">
        <div class="bloc_menu bloc_secondary color3">
            Sites internet d'achat
        </div>
    </a>
    <a href="menu_main.html">
        <div class="bloc_menu bloc_secondary color0">
            Retour
        </div>
    </a>
    <br/>
</body>
</html>