<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu principal</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="menu">

    <a href="">
        <div class="bloc_menu bloc_main color1">
            Tirelire
        </div>
    </a>
    <a href="">
        <div class="bloc_menu bloc_main color3">
            Mois en cours
        </div>
    </a>
    <br/>

    <a href="../achat_controller_list.php" >
        <div class="bloc_menu bloc_main color2">
            Achats
        </div>
    </a>
    <a href="" >
        <div class="bloc_menu bloc_main color1">
            Recettes
        </div>
    </a>
    <br/>

    <a href="">
        <div class="bloc_menu bloc_main color3">
            Progression des achats
        </div>
    </a>
    <a href="menu_secondary.html">
        <div class="bloc_menu bloc_main color2">
            Autres
        </div>
    </a>

    <br/>

    <a href="../user_controller_list.php" >
        <div class="bloc_menu bloc_main color1">
            Utilisateurs
        </div>
    </a>
    #utilisateurs
<br/>
</body>
</html>