<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter/Modifier Quartier</title>
</head>
<body>
    <h1>Ajouter/Modifier Quartier</h1>
    <a href="liste_quartier.html">Retour</a>
    <form>
        <label>Libellé :</label><input type="text" name="libelle"/><br/>

        <label>Ville :</label>
        <select name="ville">
            <option value="1">Saint-Etienne</option>
            <option value="2">Lyon</option>
        </select><br/>

        <input type="submit"/>
    </form>
</body>
</html>