<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter/Modifier site internet d'achat</title>
</head>
<body>
    <h1>Ajouter/Modifier site internet d'achat</h1>
    <a href="liste_site.html">Retour</a>
    <form>
        <label>Libellé :</label><input type="text" name="libelle"/><br/>

        <label>Adresse URL :</label><input type="text" name="adresse"/><br/>

        <label>Etat :</label>
        <select ame="Etat">
            <option value="1">Actif</option>
            <option value="2">Désactivé</option>
        </select><br/>

        <input type="submit"/>
    </form>
</body>
</html>