<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>#titre#</title>
    <link rel="stylesheet" href=""/>
</head>

<body>

    <div id="message">
        <h2><b>#message#</b></h2>
    </div>

    <div id="retour">
        <a href="site_controller_list.php">Retour</a>
    </div>

    <h1>#titre#</h1>

    <form method="POST" action="site_controller_edit_db.php">
        <label>Libellé :</label>
        <input type="text" name="libelle" value="#libelle_value#" required autofocus/><br/><br/>

        <label>Adresse URL :</label>
        <input type="text" name="url" value="#adresse_value#" required /><br/><br/>

        #etats#

        <input type="submit"/>
    </form>

</body>
</html>