<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter/Modifier tirelire</title>
</head>
<body>
    <h1>Ajouter/Modifier tirelire</h1>

    <a href="liste_tirelire.html">Retour</a><br/>

    <form>
        <label>Etat :</label>
        <select name="etat">
            <option value="1">En cours</option>
            <option value="0">Supprimé</option>
        </select><br/>

        <label>Date :</label><input type="date" name="date"/><br/>

        <label>Argent liquide :</label><input type="text" name="liquide" /><br/>
        <label>Compte courant :</label><input type="text" name="compte_courant" /><br/>
        <label>Livret jeune :</label><input type="text" name="livret_jeune" /><br/>
        <label>Livret A :</label><input type="text" name="livret_a" /><br/>
        <label>Valeur chèques déjeuner :</label><input type="text" name="valeur_cheques_dejeuner" /><br/>

        <input type="submit"/>
    </form>

</body>
</html>