<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>Utilisateur</title>
    <link rel="stylesheet" href=""/>
</head>

<body>

    <div id="message">
        <h2><b>#message#</b></h2>
    </div>

    <div id="retour">
        <a href="user_list_controller.php">Retour</a>
    </div>

    <h1>Utilisateur</h1>

    <form method="POST" action="user_check_controller.php">
        <label>Pseudo :</label>
        <input type="text" name="pseudo" value="#pseudo_value#" required/><br/><br/>

        <label>Mot-de-passe :</label>
        <input type="text" name="password" value="#password_value#" required/><br/><br/>

        <label>Adresse mail:</label>
        <input type="email" name="mail" value="#mail_value#" /><br/><br/>

        #statuts#

        #etats#

        <input type="submit"/>
    </form>
</body>
</html>