<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
    <link rel="stylesheet" href=""/>
</head>

<body>
    <div id="message">
        <b>#message#</b>
    </div>

    <h1>Liste des utilisateurs</h1>
    <div id="boutons">
        <a href="user_form_new.php">Créer un utilisateur</a><br/>
        #lien#
    </div>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
            #tr#
        </tbody>
    </table>
</body>
</html>