<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>#titre#</title>
    <link rel="stylesheet" href=""/>
</head>

<body>
    <div id="message">
        <h2><b>#message#</b></h2>
    </div>

    <div id="retour">
        <a href="ville_controller_list.php">Retour</a>
    </div>

    <h1>#titre#</h1>

    <form method="POST" action="ville_controller_edit_db.php">
        <label>Libelle :</label>
        <input type="text" name="libelle" value="#libelle_value#" required autofocus/><br/><br/>

        <input type="submit"/>
    </form>
</body>
</html>