<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>Liste des Villes</title>
    <link rel="stylesheet" href=""/>
</head>

<body>
    <div id="message">
    <h2><b>#message#</b></h2>
    </div>

    <h1>Liste des Villes</h1>
    <div id="boutons">
        <a href="ville_controller.php">Créer une ville</a><br/>
    </div>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libellé</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        #lignes_ville#
        </tbody>
    </table>
</body>
</html>